export(martDisconnect,listMarts, getGene, getOMIM, getGO, getAffyArrays, getFeature, getSequence, getSNP, getHomolog, getPossibleXrefs, getXref, getINTERPRO, exportFASTA, useMart, listDatasets, useDataset, listAttributes, listFilters, getBM, parseAttributes, parseFilters, cleanBM)
exportClasses(martTable, Mart)
import(RCurl)
