export(martDisconnect,listMarts, getGene, getOMIM, getGO, getAffyArrays, getFeature, getSequence, getSNP, getHomolog, getINTERPRO, exportFASTA, useMart, listDatasets, useDataset, listAttributes, listFilters, getBM, parseAttributes, parseFilters, getLDS)
exportClasses(Mart)
import(RCurl)
